<div class="container">
<%= @users.each do |user|%>
<div class="card">
  <div class="card-body">
    <p>
      <strong>Name:</strong>
      <%= user.name %>
    </p>
    <p>
  <strong>Last name:</strong>
  <%= user.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= user.email %>
</p>
<%= link_to 'Edit', edit_user_path(current_user) %>
  </div>
</div>

<% end%>
</div>